# Ignore Terraform backend configuration file
backend.tf

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore Terraform plan files
*.tfplan

# Ignore Terraform provider override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .terraform directory
.terraform/
.terraform.lock.hcl

.vscode/